:root {
    --bcolor: black;
    --tcolor: white;
}


body {
    font-weight: 700;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 200%;
    display: grid;
    place-content: center;
    margin-top: 30%;
}

.happy {
    text-align: center;
    font-size: 200%;
    opacity: 0;
    transform: translateY(-100%);
    transition: transform 3s, opacity 3s ease-in;
}

#page-up {
    width: 100%;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
    background-color: palevioletred;
    color: white;
    display: grid;
    place-content: center;
    transition: transform 3s;
}

img {
    margin-left: 25%;
    margin-bottom: 10px;
}

.translate {
    transform: translateY(-100%);
}

.para-one {
    opacity: 0;
    transform: translateY(-100%);
    transition: transform 3s, opacity 3s ease-in;
    padding: 0 10px 0 10px;

}

.butt {
    width: 70%;
    height: 300%;
    margin-left: 15%;
    margin-top: 10px;
    border-radius: 90px;
    border: 2px solid gray;
    background-color: black;
    color: aliceblue;
    font-size: 90%;
    opacity: 0;
    transform: translateY(100%);
    transition: transform 3s, opacity 3s ease-in;
    padding: 0 10px 0 10px;
    font-weight: 900;

    &:hover {
        color: black;
        background-color: white;
    }
}

.transformer {
    opacity: 1;
    transform: translateY(0);
}